@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.5em;
}

a:hover {
    background-color: #F2800D;
}

a {
    background-color: #28B5B0;
    color: white;
    text-decoration: none;
    display: block;
    float: left;
    padding: 20px;
}

nav{
    font-family: 'Open Sans', sans-serif;
    background-color: #28B5B0;
}

#nav_final p{
    color: white;
    background-color: black;
}

header{
    padding: 20px;
}
img {
      display: block;
      width: 100%;
}

.design {
    width: 33.33%;
    float: left;
    padding: 20px;
}

.design p {
    padding: 5px;
}

#hero {
    position: relative;
    max-width: 600px;
    padding: 20px;
    margin: auto;
}

#hero div {
    position: absolute;
    left: 10%;
    top: 20%;
}

#designcontainer h2 {
   display: block;
   width: 100%; 
   padding: 20px;
}

#materials figure{
width: 30%;
float: left;
}

#materials figcaption{
    width: 70%;
    float:left;
    padding-left: 20px;
}

#logo{
    max-width: 150px;
    margin: 0 auto;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px-black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right { 
background-color: #E55B88;
border: 1px black solid;
padding: 20px;
float: right;
width: 62%;
}

h2,p {
    padding-bottom: 15px;
    padding-top: 15px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.column {
    width: 260px;
    height: 300px;
    padding: 20px;
    margin: 0;
    float: left;
}
