*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
	float: left;
}

#nav {
	float:left;
	width:calc(100% - 200px);
	padding: 20px;
}

#facebook {
	width: 30px;
	margin-top: 1px;
	float: right;
}

#instagram {
	margin-top: 5px;
	width: 40px;
	float: right;
}

img {
      display: block;
      width: 100%;
}

#nav a {
	padding: 20px;
	color: grey;
}

#box {
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    background-color: grey;
}

a { 
text-decoration: none;
display: block;
float: left;
color: orange;
}

#nav a:hover {
    color: black;
}

#designcontainer h2 {
   display: block;
   width: 100%; 
   padding: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}