*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
	float: left;
}

#nav {
	float:left;
	padding: 20px;
}

#facebook {
	float: left;
	max-width: 2%;
	padding: 20px;
}

#instagram {
	float: left;
	max-width: 2%;
	padding: 20px;
}

#nav a {
	padding: 20px;
	color: grey;
}

a { 
text-decoration: none;
display: block;
float: left;
color: orange;
}

a:hover {
    color: black;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}