
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	margin:2em;
}
nav{
	font-family: 'Open Sans', sans-serif;
    background-color: green;
    border: 1px black solid;
    padding: 20px;
}
header{
    background-color: blue;
    border: 1px black solid;
    padding: 20px;
}
img {
	  display: block;
  	margin: 0 auto;
}
#design_a{
	background-color: blue;
    border: 1px black solid;
    padding: 20px;
}
footer {
	background-color: grey;
    border: 1px black solid;
    padding: 20px;
}